<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"> --}}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  {{!--
  <link rel="stylesheet" href="/css/style.css"> --}}
  <link rel="stylesheet" href="/stylesheet/tailwind.css">
  <title>{{title}}</title>
</head>

<body
  class=" flex flex-col overflow-x-hidden gap-3 bg-fixed bg-cover top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">

  <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 invisible">
  </div>
  <div id="cart-container"
    class="fixed h-full w-96 right-0 transition-all box-border overflow-y-scroll bg-slate-500 p-5 translate-x-full z-10">
    <div id="close-cart-button" class="font-black absolute top-3 right-3 bg-red-600 cursor-pointer rounded-xl p-4">
      <i class="fi fi-rr-cross"></i>
    </div>
    <div id="cart-title">Mi Carrito</div>
    <div id="cart-items"></div>
    <div id="cart-total">Total: $0</div>

    <!-- Botones para acciones -->
    <button id="checkout-button">Pagar</button>
    <button id="clear-cart-button">Vaciar Carrito</button>

  </div>


  <nav
    class=" navbar bg-black bg-opacity-40 text-white flex items-center justify-evenly font-sans shadow-md overflow-hidden p-5 text-xl">
    <a href="/" class="navbar-brand text-2xl">Ecommerce</a>
    <ul class="navbar-nav flex gap-4">
      <li class="nav-item  transition-all hover:scale-110"><a href="/" class="nav-link">Inicio</a></li>
      <li class="nav-item  transition-all hover:scale-110"><a href="/products" class="nav-link">Productos</a></li>
      {{#if (eq user.role 'admin')}}
      <li class="nav-item  transition-all hover:scale-110"><a href="/add-product" class="nav-link">Admin panel</a></li>
      {{/if}}
      <li hidden class="nav-item  transition-all hover:scale-110"><a href="/chat" class="nav-link">Chat</a></li>
      <li class="nav-item  transition-all"><a href="/profile" data-tooltip={{#if user}}"Iniciaste sesión como:
          {{user.first_name}} {{user.last_name}} {{#if (eq user.role 'admin' )}}- ADMIN{{/if}}" {{else}}"Iniciar sesión
          / Registrarse" {{/if}} data-placement="bottom"><i class="fi fi-rr-user icon"></i></a></li>
      <li class="nav-item"><i id="cart-button" class="fi fi-rr-shopping-cart icon"><span
            id="cart-total-items">0</span></i></li>
    </ul>
  </nav>
  <main class="container   text-white p-8 mx-auto min-h-96">
    {{{body}}}
  </main>


  <script src="/js/cart.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>